<!DOCTYPE html>
<html>
  <head>
    <title>GemWatches</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="uk-hidden-small uk-container uk-container-center gm-header-top">
        <div class="uk-float-left gm-header-top-item"><i class="uk-icon-mobile uk-margin-right"></i>  478 555 3943</div>
        <div class="uk-float-left uk-margin-large-left gm-header-top-item"><i class="uk-icon-at uk-margin-right"></i> SUPPORT@GEMWATCHES.COM </div>
        <div class="uk-float-left uk-margin-large-left gm-header-top-item"><i class="uk-icon-map-marker uk-margin-right"></i> 121 GEM WATCHES, NEW YORK, 30493 </div>
        <div class="uk-float-right gm-header-top-item gm-header-top-item">LOGIN</div>
      </div>
      <div class="gm-nav-overlay">
        <nav class="uk-navbar uk-container uk-container-center gm-navbar">
          <a href="#">
            <div class="uk-navbar-brand gm-navbar-brand uk-padding-remove">
              <%= image_tag("Logo.png", class: "gm-navbar-brand-logo") %>
            </div>
          </a>
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="">COLLECTIONS</a></li>
            <li><a href="">SHOP</a></li>
            <li class="uk-parent"><a href="">ABOUT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
